<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exhibition</title>
</head>
<body>
    <header>
        <%- include("../public/partials/navBar.html") %>
    </header>
    <section>
        <div style="height: 800px;"></div>
    </section>
    <footer>
        <%- include("../public/partials/footer.html")%>
    </footer>
</body>
</html>