<div class="navBar">
    <h2 class='title'> The Louvre <br> Museum </h2>
    <a href="#" class="menu-button">Menu</a>
    
    <table class="Menu">
        <tr>
            <td>
                <a href="http://localhost:8081/">Home</a>
            </td>
            <td><a href="http://localhost:8081/visit">Visit</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8081/exhibition">Exhibition</a></td>
            <%if(!loggedIn){%>
            <td><a href="http://localhost:8081/user">Login</a></td>
            <%}else{%>
            <td><a href="http://localhost:8081/user">Sign out</a></td>
            <%}%>
        </tr>
    </table>
    <nav>
        <a href="http://localhost:8081/">Home</a>
        <a href="http://localhost:8081/visit">Visit</a>
        <a href="http://localhost:8081/exhibition">Exhibition</a>
            <%if(!loggedIn){%>
                <a href="http://localhost:8081/user">Login</a>
            <%}else{%>
                <a href="http://localhost:8081/user/signout">Sign out</a>
            <%}%>
    </nav>
</div>